{% extends 'base.html.twig' %}

{% block bodyClass %}layout-h{% endblock %}

{% block body %}
  {{ include('site/blocks/_header.html.twig') }}

  <section class="section-container">
    <div class="content-wrapper">
      <div class="my-3">

        {% for msg in app.session.flashBag.get('success') %}
          <div class="alert alert-success" role="alert">{{ msg }}</div>
        {% endfor %}

        {% for msg in app.session.flashBag.get('error') %}
          <div class="alert alert-danger" role="alert">{{ msg }}</div>
        {% endfor %}

      <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="card">
              <div class="card-header">
                  <h3 class="text-muted mt-0">
                      Buscar paciente
                      <a class="btn btn-labeled btn-primary float-right" href="{{ path('paciente_add') }}">
                          <span class="btn-label">
                              <i class="fa fa-plus"></i>
                          </span>
                          Agregar Paciente
                      </a>
                  </h3>
              </div>

              <div class="card-wrapper">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-12">
                              <form method="post" action="{{ path('paciente_search') }}">
                                  <div class="input-group input-group-lg">
                                      <input type="text" autofocus="autofocus" name="personalId" class="form-control" placeholder="Ingrese la cédula ..">
                                      <div class="input-group-append">
                                          <button class="btn btn-outline-secondary input-group-text" type="submit">
                                              <i class="fa fa-search"></i>
                                              &nbsp;Buscar
                                          </button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
{% endblock %}