{% extends 'base.html.twig' %}

{% block bodyClass %}layout-h{% endblock %}

{% block body %}
  {{ include('site/blocks/_header.html.twig') }}

  <section class="section-container">
    <div class="content-wrapper">
      <div class="my-3">

        {% for msg in app.session.flashBag.get('success') %}
          <div class="alert alert-success" role="alert">{{ msg }}</div>
        {% endfor %}

        {% for msg in app.session.flashBag.get('error') %}
          <div class="alert alert-danger" role="alert">{{ msg }}</div>
        {% endfor %}

        {% if error is defined and error %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}

        <div class="card">
          <div class="card-header">
            <h3 class="text-muted mt-0">
              {{ paciente.name }} {{ paciente.lastname }}
            </h3>
          </div>

          <div class="card-wrapper">
            <div class="card-body">
              <div class="row">

                <div class="col-12">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <strong>Género</strong> {{ paciente.gender|gender_name }},
                    </li>
                    <li class="list-inline-item">
                      <strong>Fecha de nacimiento</strong> {{ paciente.birthday|date("d/m/Y") }},
                    </li>
                    {% if paciente.weight is not null %}
                      <li class="list-inline-item"><strong>Peso</strong> {{ paciente.weight }} Kg,</li>
                    {% endif %}
                    {% if paciente.height is not null %}
                      <li class="list-inline-item"><strong>Altura</strong> {{ paciente.height }} mts</li>
                    {% endif %}
                  </ul>
                </div>
              </div>

              <div class="row">
                  {{ include('medicalPathient/blocks/_side-bar.html.twig') }}

                <div class="col-9">
                  {% if view == 'EDIT' %}
                    {{ include('medicalPathient/blocks/_edit-pathient.html.twig') }}
                  {% endif %}
                  {% if view == 'PRESCRIPTIONS' %}
                    {{ include('medicalPathient/blocks/_prescription-list.html.twig') }}
                  {% endif %}
                  {% if view == 'PRESCRIPTION_NEW' %}
                    {{ include('medicalPathient/blocks/_prescription-new.html.twig') }}
                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}