{% extends 'base.html.twig' %}

{% block bodyClass %}layout-h{% endblock %}

{% block body %}
  {{ include('site/blocks/_header.html.twig') }}

  <section class="section-container">
    <div class="content-wrapper">
      <div class="unwrap my-3">

        <div class="card">
          <div class="card-header">
            <h3 class="text-muted mt-0">
              {{ paciente.name }} {{ paciente.lastname }}
              <a class="btn btn-labeled btn-primary float-right" href="{{ path('paciente_add') }}">
                <span class="btn-label"><i class="fa fa-plus"></i></span>
                Agregar Medicación
              </a>
            </h3>
          </div>

          <div class="card-wrapper">
            <div class="card-body">
              <div class="row">

                <div class="col-12">
                  <ul class="list-inline">
                    <li class="list-inline-item"><strong>Nombre</strong> {{ paciente.name }},</li>
                    <li class="list-inline-item"><strong>Apellido</strong> {{ paciente.lastname }},</li>
                    <li class="list-inline-item">
                      <strong>Género</strong> {{ paciente.gender|gender_name }},
                    </li>
                    <li class="list-inline-item">
                      <strong>Fecha de nacimiento</strong> {{ paciente.birthday|date("d/m/Y") }},
                    </li>
                    <li class="list-inline-item"><strong>Peso</strong> {{ paciente.weight }} Kg,</li>
                    <li class="list-inline-item"><strong>Altura</strong> {{ paciente.height }} mts</li>
                  </ul>
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover w-100 dataTable no-footer dtr-inline"role="grid">
                      <thead>
                        <tr role="row">
                          <th rowspan="1" colspan="1" style="min-width: 215px">
                            <strong>Medicamento nombre generico</strong>
                          </th>
                          <th rowspan="1" colspan="1" style="min-width: 230px">
                              <strong>Medicamento nombre comercial</strong>
                          </th>
                          <th rowspan="1" colspan="1" style="min-width: 50px">
                              <strong>Clase *</strong>
                          </th>
                          <th rowspan="1" colspan="1">
                              <strong>Dósis</strong>
                          </th>
                          <th rowspan="1" colspan="1">
                              <strong>Frecuencia</strong>
                          </th>
                          <th rowspan="1" colspan="1">
                              <strong>Fecha inicio</strong>
                          </th>
                          <th rowspan="1" colspan="1">
                              <strong>Fecha final</strong>
                          </th>
                          <th class="text-center" rowspan="1" colspan="1">
                            <strong>Detalles</strong>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">Ibuprofeno</td>
                          <td>Aspirina</td>
                          <td>Digestivo</td>
                          <td>1 comprimido</td>
                          <td>Por la mañana</td>
                          <td>04/10/2018</td>
                          <td></td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-secondary" type="button">
                              <em class="fa fa-info-circle"></em>
                            </button>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">Ibuprofeno</td>
                          <td>Aspirina</td>
                          <td>Digestivo</td>
                          <td>1 comprimido</td>
                          <td>Por la mañana</td>
                          <td>04/10/2018</td>
                          <td></td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-secondary" type="button">
                              <em class="fa fa-info-circle"></em>
                            </button>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">Ibuprofeno</td>
                          <td>Aspirina</td>
                          <td>Digestivo</td>
                          <td>1 comprimido</td>
                          <td>Por la mañana</td>
                          <td>04/10/2018</td>
                          <td></td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-secondary" type="button">
                              <em class="fa fa-info-circle"></em>
                            </button>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">Ibuprofeno</td>
                          <td>Aspirina</td>
                          <td>Digestivo</td>
                          <td>1 comprimido</td>
                          <td>Por la mañana</td>
                          <td>04/10/2018</td>
                          <td></td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-secondary" type="button">
                              <em class="fa fa-info-circle"></em>
                            </button>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">Ibuprofeno</td>
                          <td>Aspirina</td>
                          <td>Digestivo</td>
                          <td>1 comprimido</td>
                          <td>Por la mañana</td>
                          <td>04/10/2018</td>
                          <td></td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-secondary" type="button">
                              <em class="fa fa-info-circle"></em>
                            </button>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">Ibuprofeno</td>
                          <td>Aspirina</td>
                          <td>Digestivo</td>
                          <td>1 comprimido</td>
                          <td>Por la mañana</td>
                          <td>04/10/2018</td>
                          <td></td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-secondary" type="button">
                              <em class="fa fa-info-circle"></em>
                            </button>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">Ibuprofeno</td>
                          <td>Aspirina</td>
                          <td>Digestivo</td>
                          <td>1 comprimido</td>
                          <td>Por la mañana</td>
                          <td>04/10/2018</td>
                          <td></td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-secondary" type="button">
                              <em class="fa fa-info-circle"></em>
                            </button>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">Ibuprofeno</td>
                          <td>Aspirina</td>
                          <td>Digestivo</td>
                          <td>1 comprimido</td>
                          <td>Por la mañana</td>
                          <td>04/10/2018</td>
                          <td></td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-secondary" type="button">
                              <em class="fa fa-info-circle"></em>
                            </button>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">Ibuprofeno</td>
                          <td>Aspirina</td>
                          <td>Digestivo</td>
                          <td>1 comprimido</td>
                          <td>Por la mañana</td>
                          <td>04/10/2018</td>
                          <td></td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-secondary" type="button">
                              <em class="fa fa-info-circle"></em>
                            </button>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td tabindex="0" class="sorting_1">Ibuprofeno</td>
                          <td>Aspirina</td>
                          <td>Digestivo</td>
                          <td>1 comprimido</td>
                          <td>Por la mañana</td>
                          <td>04/10/2018</td>
                          <td></td>
                          <td class="text-center">
                            <button class="btn btn-sm btn-secondary" type="button">
                              <em class="fa fa-info-circle"></em>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <a class="btn btn-labeled btn-primary float-left" href="{{ path('paciente_add') }}">
                    <span class="btn-label"><i class="fa fa-plus"></i></span>
                    Agregar Medicación
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}