{% extends 'base.html.twig' %}

{% block bodyClass %}layout-h{% endblock %}

{% block body %}
  {{ include('site/blocks/_header.html.twig') }}

  <section class="section-container">
    <div class="content-wrapper">
      <div class="unwrap my-3">

        {% for msg in app.session.flashBag.get('success') %}
          <div class="alert alert-success" role="alert">{{ msg }}</div>
        {% endfor %}

        {% for msg in app.session.flashBag.get('error') %}
          <div class="alert alert-danger" role="alert">{{ msg }}</div>
        {% endfor %}

        {% if error is defined and error %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}

        <div class="card {{ error is not defined ? 'd-none' }} js-medication_card">
          <div class="card-header">
            <h3 class="text-muted mt-0">Agregar medicación</h3>
          </div>
          <div class="card-wrapper">
            <div class="card-body">
              <div class="row">
                <div class="block-center col-6">
                  {{ form(prescriptionForm) }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h3 class="text-muted mt-0">
              {{ paciente.name }} {{ paciente.lastname }}
              <button class="btn btn-labeled btn-primary float-right js-add_medication">
                <span class="btn-label"><i class="fa fa-plus"></i></span>
                Agregar Medicación
              </button>
            </h3>
          </div>

          <div class="card-wrapper">
            <div class="card-body">
              <div class="row">

                <div class="col-12">
                  <ul class="list-inline">
                    <li class="list-inline-item"><strong>Nombre</strong> {{ paciente.name }},</li>
                    <li class="list-inline-item"><strong>Apellido</strong> {{ paciente.lastname }},</li>
                    <li class="list-inline-item">
                      <strong>Género</strong> {{ paciente.gender|gender_name }},
                    </li>
                    <li class="list-inline-item">
                      <strong>Fecha de nacimiento</strong> {{ paciente.birthday|date("d/m/Y") }},
                    </li>
                    {% if paciente.weight is not null %}
                      <li class="list-inline-item"><strong>Peso</strong> {{ paciente.weight }} Kg,</li>
                    {% endif %}
                    {% if paciente.height is not null %}
                      <li class="list-inline-item"><strong>Altura</strong> {{ paciente.height }} mts</li>
                    {% endif %}
                  </ul>
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover w-100 dataTable no-footer dtr-inline"role="grid">
                      <thead>
                        <tr role="row">
                          <th rowspan="1" colspan="1" style="min-width: 215px">
                            <strong>Medicamento</strong>
                          </th>
                          <th rowspan="1" colspan="1" style="min-width: 50px">
                              <strong>Clase</strong>
                          </th>
                          <th rowspan="1" colspan="1">
                              <strong>Dósis</strong>
                          </th>
                          <th rowspan="1" colspan="1">
                              <strong>Frecuencia</strong>
                          </th>
                          <th rowspan="1" colspan="1">
                              <strong>Fecha inicio</strong>
                          </th>
                          <th rowspan="1" colspan="1">
                              <strong>Fecha final</strong>
                          </th>
                          {# <th class="text-center" rowspan="1" colspan="1">
                            <strong>Detalles</strong>
                          </th> #}
                        </tr>
                      </thead>
                      <tbody>
                        {% for row in paciente.prescriptions|sort|reverse %}
                          <tr role="row" class="odd">
                            <td>{{ row.medicine }}</td>
                            <td>{{ row.class|class_name }}</td>
                            <td>{{ row.frequency }}</td>
                            <td>{{ row.dose }}</td>
                            <td class="text-center">
                              {{ row.startAt is not null ? row.startAt|date('d/m/Y') : 'Sin especificar' }}
                            </td>
                            <td class="text-center">
                              {{ row.endsAt is not null ? row.endsAt|date('d/m/Y') : 'Sin especificar' }}
                            </td>
                            <td></td>
                            {# <td class="text-center">
                              <button class="btn btn-sm btn-secondary" type="button">
                                <em class="fa fa-info-circle"></em>
                              </button>
                            </td> #}
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
  <script>
    var buttons = document.querySelectorAll('.js-add_medication');
    buttons.forEach(function(btn) {
      btn.addEventListener('click', function(event){
        document.querySelector('.js-medication_card').classList.toggle('d-none');
      });
    });
    $(document).ready(function() {
      $('#prescription_startAt').datepicker({
        format: "dd/mm/yyyy"
      });
      $('#prescription_endsAt').datepicker({
        format: "dd/mm/yyyy"
      });


    new SlimSelect({
      select: '#prescription_class',
    });
    new SlimSelect({
      select: '#prescription_medicine',
      searchingText: 'Buscando medicamentos...',
      searchPlaceholder: 'Ingrese 3 letras o mas para filtrar el medicamento',
      searchHighlight: true,
      ajax: function (search, callback) {
        if (search.length < 3) {
          callback('Necesita ingresar 3 letras o más')
          return
        }

        // Perform your own ajax request here
        fetch(`/medicamento/search?name=${search}`)
        .then(function (response) {
          return response.json()
        })
        .then(function (json) {
          let data = []
          for (let i = 0; i < json.length; i++) {
            data.push({value: json[i].id ,text: json[i].name})
          }

          // Upon successful fetch send data to callback function.
          // Be sure to send data back in the proper format.
          // Refer to the method setData for examples of proper format.
          callback(data)
        })
        .catch(function(error) {
          // If any erros happened send false back through the callback
          callback(false)
        })
      }
    })
});

  </script>
  <style>
    .ss-main.form-control {
      border: none;
      padding: 0;
    }
  </style>
{% endblock %}