<header class="topnavbar-wrapper">
  <nav class="navbar topnavbar navbar-expand-lg navbar-light">

    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('dashboard') }}">
        <div class="brand-logo">
          <label style="color:white;">MedApp</label>
        </div>
      </a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav mr-auto flex-column flex-lg-row"></ul>

      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('dashboard') }}" title="Preferencias">
            <em class="fa fa-user-md"></em>
            {{ app.user.name }}
            {{ app.user.lastname }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('logout') }}" title="Cerrar sesión">
            <em class="fa fa-sign-out-alt"></em>
            Cerrar sesíon
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
